<a href="{{ site.baseurl }}/">
  <img src="{{ '/assets/images/arcade.jpg' | prepend: site.baseurl }}" class="profile-image" alt="Danny and Cameron">
  <h1>{{ site.title }}</h1>
</a>
<hr class="divider">
<p>June 11th 2022 - <a href="https://www.jupiterartland.org/">Jupiter Artland</a></p>
<hr class="divider divider-secondary">
<nav class="navbar" role="navigation">
  <ul>
    <li>
      <a href="{{ '/about' | prepend: site.baseurl }}">About</a>
    </li> |
    <li>
      <a href="{{ '/rsvp' | prepend: site.baseurl }}">RSVP</a>
    </li>
  </ul>
</nav>
