$body-text-colour:              #FCFCFC;
$dark-body-text-colour:         #5F3D53;
$link-colour:                   #F2D8DE;
$link-hover-colour:             #B287A3;
$background-colour:             #704B6C;
$accent-colour:                 #857182;
$background-colour-overlay:     rgba(112, 75, 108, 0.3);
